


  <div class="row">
    <% @carted_products.each do |carted_product| %>
      <div class="col-md-4">
        <div class="thumbnail well">
        
          <div>
           <%= carted_product.product.name %>
          </div>
     
      </div>
    </div>
  <% end %>
</div>

