<h1>Vivienne Gold Photography</h1>

<% @products.each do |product| %>

<h1><a href="/products/<%= product.id %>">hi</a></h1>
<h4><%= product.description %></h4>
<h3><%= product.price %></h3>
<img src="<%= product.image %>">



<% end %>