<h1>New Product</h1>

<% @product.errors.full_messages.each do |error| %>
<h2><%= error %></h2>   
<% end %>

<%= form_tag "/products", method: :post do %>
<div>
Name: <input type="text" name= "name" value="<%= @product.name %>">
 </div>
<div>
Price: <input type="text" name= "price"  value="<%= @product.price %>">
 </div>
<div>
Description: <input type="text" name= "title">
 </div>
<div>

<input type="submit" value="create product">
  
  <% end %>