<h1>New Product</h1>

<%= form_tag "/products", method: :post do %>
<div>
Name: <input type="text" name= "title">
 </div>
<div>
Price: <input type="text" name= "title">
 </div>
<div>
Description: <input type="text" name= "title">
 </div>
<div>
Image: <input type="text" name= "title">
</div>
<<input type="submit" value="create image">
  <% end %>